body {
  /* padding-bottom: 30px; */
  position: relative;
  min-height: 100%;
  font-size: 0.9rem;
}

a {
  transition: background 0.2s, color 0.2s;
}

a:hover,
a:focus {
  text-decoration: none;
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#navbar-wrapper {
  width: 100%;
  position: absolute;
  z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
  position: absolute;
  margin-right: -175px;
}
#navbar-wrapper .navbar {
  border-width: 0 0 0 0;
  background-color: #025299;
  font-size: 22px;
  margin-bottom: 0;
  border-radius: 0;
}
#navbar-wrapper .navbar a {
  color: hsla(0,0%,100%,.8);
}
#navbar-wrapper .navbar a:hover {
  color: #f8be12;
}

.navbar-text {
  color: hsla(0,0%,100%,.8);
}

#navbar-wrapper .logo {
  height: 40px;
}

.navbar {
  border-top: solid 2px #f8be12!important;
  border-bottom: solid 2px #f8be12!important;
}

.nav-pills .nav-link.active {
  background-color: #f8be12;
}

#sidebar-wrapper {
  /* z-index: 1000; */
  position: fixed;
  left: 175px;
  width: 0;
  height: 100%;
  margin-left: -175px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #3b3f58;
  transition: all 0.5s ease; 
  margin-top: 4.2rem;
}

#wrapper.toggled #sidebar-wrapper {
  width: 175px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 175px;
  /* text-align: center; */
  padding: 35px 0;
  color: hsla(0,0%,100%,.8);
}

.sidebar-brand a {
  text-indent: 20px;
}

.sidebar-brand span{
  font-size: 14px;
  text-decoration: underline;
}

.sidebar-brand a i.fas {
  font-size: 20px;
  width: 60px;
}
.sidebar-nav {
  position: absolute;
  top: 100px;
  width: 175px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
}

.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: hsla(0,0%,100%,.8);
  font-weight: 600;
  font-size: 16px;
}

.sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
  text-decoration: none;
  color: #fff;
  background: #f8be12;
}

.sidebar-nav > li > a i.fas {
  font-size: 20px;
  width: 60px;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 80px!important;
}
#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -175px;
}

@media (min-width: 992px) {
  #wrapper {
    padding-left: 175px;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 175px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }

  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #navbar-wrapper {
    position: relative;
  }

  .titulo-corto {
    display: none;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 60px;
  }

  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -175px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -175px;
  }

  #navbar-wrapper {
    position: relative;
  }

  .titulo-corto {
    display: none;
  }

  #wrapper.toggled {
    padding-left: 175px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 175px;
  }
}

@media (max-width: 795px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 175px;
  }
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -175px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -175px;
  }

  #navbar-wrapper {
    position: relative;
  }

  .titulo-largo {
    display: none;
  }
  .titulo-corto {
    display: block;
  }

  #wrapper.toggled {
    padding-left: 175px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 175px;
  }
}

/* Styles Login */
.container-login {
  height: 100vh!important;
}

.contenido span {
  text-transform: capitalize;
}

body.login{
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(213,235,241,0.93) 28%, rgba(3,60,110,0.76) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(28%, rgba(213,235,241,0.93)), color-stop(100%, rgba(3,60,110,0.76)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(213,235,241,0.93) 28%, rgba(3,60,110,0.76) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(213,235,241,0.93) 28%, rgba(3,60,110,0.76) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(213,235,241,0.93) 28%, rgba(3,60,110,0.76) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(213,235,241,0.93) 28%, rgba(3,60,110,0.76) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#033c6e', GradientType=1 );
}

body.login .contenido {
border-radius: 10px;
-webkit-box-shadow: 0px 17px 39px -6px rgba(0,0,0,0.76);
-moz-box-shadow: 0px 17px 39px -6px rgba(0,0,0,0.76);
box-shadow: 0px 17px 39px -6px rgba(0,0,0,0.76);
}

.titulo-login {
  background-color: #025299;
  color: hsla(0,0%,100%,.8);
}

.titulo-login:hover{
  color: #f8be12;
}

.btn-login {
  background-color: #025299!important;
  color: hsla(0,0%,100%,.8);
}

.btn-login:hover {
  color: #f8be12;
}

/* End Styles Login */

/* Styles Dashboard */

.dataTables_wrapper {
  padding-top: 1rem!important;
}

table {
  border-collapse: collapse!important;
}

td.details-control {
  background: url('../img/mas.svg') no-repeat center center;
  cursor: pointer;
  background-size: 1.33em;
}

tr.shown td.details-control {
  background: url('../img/negativo.svg') no-repeat center center;
  background-size: 1.33em;
}

td.cerrarReg{
  background: url('../img/comprobar.svg') no-repeat center center;
  cursor: pointer;
  background-size: 1.33em;
}
td.editarReg{
  background: url('../img/edit.svg') no-repeat center center;
  cursor: pointer;
  background-size: 1.33em;
}
td.borrarReg{
  background: url('../img/borrar.svg') no-repeat center center;
  cursor: pointer;
  background-size: 1.33em;
}


/* Reportes */


/* Estilos para formulario registro */


